@model IEnumerable<TCC.Models.User>

<title>@ViewBag.Title</title>

<h2>@ViewBag.Title</h2>

<button type="button" class="btn btn-primary">@Html.ActionLink("Adicionar", "Create")</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" title="Editar"><i class="far fa-edit"></i></a>
                    <a href="javascript:void(0)" onclick="Delete(@item.Id, '@Url.Action("Edit")')" title="Remover"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
