@model IEnumerable<TCC.Models.Category>

<title>@ViewBag.Title</title>

<h2>@ViewBag.Title</h2>

<button type="button" class="btn btn-success">@Html.ActionLink("Adicionar", "Create")</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Descricao")
            </th>
            <th>
                @Html.DisplayName("Ativo")
            </th>
            <th>Acoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
