@{ 
    Layout = null;
}

<nav id="sidebar">
    <div class="sidebar-header">
        <h3>@Html.ActionLink("SideBar", "Index", "Home")</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            @Html.ActionLink("Inicio", "Index", "Home")
        </li>
        <li>
            <a href="#Plants" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Plantas</a>
            <ul class="collapse list-unstyled" id="Plants">
                <li>
                    @Html.ActionLink("Listagem", "Index", "Plant")
                </li>
            </ul>
        </li>
        <li>
            <a href="#Categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categorias</a>
            <ul class="collapse list-unstyled" id="Categories">
                <li>
                    @Html.ActionLink("Listagem", "Index", "Category")
                </li>
            </ul>
        </li>
        <li>
            <a href="#Sensor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sensores</a>
            <ul class="collapse list-unstyled" id="Sensor">
                <li>
                    @Html.ActionLink("Listagem", "Index", "Sensor")
                </li>
            </ul>
        </li>
    </ul>
</nav>